html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.r1{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 80px;
    font-weight: 800;
}

.main_content{
    background-color: #0a1223;
    height: 100%;
    color: white;
}

.main_content ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0 30px 0 0;
    padding-top: 16px;
    justify-content: right;
}

.main_content ul li{
    font-size: 12px;
    font-weight: 800;
    color: #54597d;
}

.article{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.moon_info_box1{
    background-image: url(dark-side.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box2{
    background-image: url(earth-tides.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box3{
    background-image: url(drifting-moon.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box4{
    background-image: url(less-weight-on-the-moon.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box5{
    background-image: url(12-americans.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box6{
    background-image: url(no-atmosphere.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box7{
    background-image: url(moon-quakes.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box8{
    background-image: url(spacecraft.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box9{
    background-image: url(moon-station.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.moon_info_box10{
    background-image: url(nuclear-bomb.png);
    background-size: cover;
    width: 800px;
    height: 400px;
    position: relative;
    color: white;
}

.r2{
    width: 500px;
    margin: 50px;
    font-size: 23px;
    text-align: left;
}

.r2 p{
    font-size: 15px;
    color: #717171;
}