body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 800;
}

li{
    padding-top: 10px;
}

.task_container{
    text-align: center;
    border: 1px solid black;
}

.task_container input{
    width: 72%;
}

.completed{
    text-decoration: line-through;
}

.footer_info a{
    display: flex;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 35px;
    padding: 4px 5px 4px 5px;
}